.heroTitle {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;

  width: 45%;
}
.form__input {
  margin: 10px;
}

@media (max-width: 600px) {
  .form {
    width: 100%;
  }
  .form__button {
    width: 90%;
  }
}
